/.cache
/.lsp-session-v1
/bookmarks
/auto-save-list/.saves-13068-loki.home.lausch.at~
/auto-save-list/.saves-1966-loki.home.lausch.at~
*~
/elpa
/personal
/projectile-bookmarks.eld
/request
/savefile
/session.*
/transient
**/*.elc
*.elc
/org-roam.db
/org-journal.cache
/forge-database.sqlite
